* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "poppins", sans-serif;
}

/* navbar start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3%;
  background-color: rgba(221, 0, 0, 0.8);
  border-bottom: 1px solid rgba(28, 2, 2, 0.8);
}

.navbar img {
  height: 50px;
  width: 50px;
}

.navbar .navbar-nav a {
  border: 1px solid;
  padding: 7px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.navbar .navbar-nav a:hover {
  background-color: rgb(70, 17, 17);
}
/* navbar end */

/* photo banner start */
.hero {
  min-height: 100vh;
  /* display: flex;
  align-items: center; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.liders {
  width: 100%;
  height: 100vh;
}

.slider img {
  width: 100%;
}

.hero .content {
  padding: 0.5rem 2%;
  max-width: 60rem;
}

.hero .content h1 {
  color: #000000;
  font-size: 2em;
  text-shadow: 5px 5px 3px rgba(28, 2, 2, 0.5);
  line-height: 1.2;
}

.hero .content p {
  color: #000000;
}

.hero .content span {
  color: rgba(221, 0, 0, 0.8);
}
/* photo banner end */

/* photo bulat start */
.our-profile .row {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 0.5rem; */
  justify-content: center;
  padding: 1rem 1%;
}

.our-profile h2,
h2 {
  text-align: center;
  padding: 30px;
}

.our-profile .row .menu-card {
  text-align: center;
  padding-bottom: 1rem;
}

.our-profile .row .menu-card img {
  border-radius: 50%;
  width: 50%;
}

.our-profile .row .menu-card .menu-card-tittle {
  margin: 1rem auto 0.5rem;
}

.our-profile .row .menu-card .menu-card-tittle span {
  color: rgba(221, 0, 0, 0.8);
}
/* photo bulat end */

/* form validation start */
.contact {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  height: 50px;
  border: 1px solid;
  cursor: pointer;
}

button:hover {
  background-color: rgba(221, 0, 0, 0.8);
}

.contact-isi {
  border: 1px solid black;
  height: 280px;
  width: 400px;
  border-radius: 4px;
  margin-bottom: 100px;
  padding: 50px;
}
/* form validation end */

/* footer start */
.footer {
  background-color: rgba(221, 0, 0, 0.8);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
  color: #fff;
  font-size: 15px;
}

.footer .link-ig {
  font-weight: bold;
  color: #fff;
}

.footer .link-ig:hover {
  color: rgb(70, 17, 17);
}
/* footer end */

/* latihan 4 */
.container-empat {
  max-width: 800px;
  margin: 50px auto;
}

.card {
  border: 1px solid #aaa;
  border-radius: 10px;
  background-color: #eee;
  overflow: hidden;
  margin: 10px;
  flex: 1;
}

.card .header {
  height: 150px;
  background-color: #666;
}

.card .content {
  text-align: center;
  padding-bottom: 20px;
}
